.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0 0 0 .2rem #fb5, 0 0 0 .6rem rgba(0, 0, 0, .6);
  padding: .8rem;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 1.4rem;
  max-width: 15rem;
  border-radius: .2rem;
}
